.pl{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    max-width: 100vw;
    min-height: 100vh;
}
.pl-texts{
    text-align: center;
}
.pl-title{
    font-size: 50px;
    font-weight: 600;
}
.pl-descr{
    margin: 20px 0px;

}
.pl-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%
}
.stack-list{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    row-gap: 5px;
    column-gap: 10px;

}
@media (max-width: 500px){
    .pl-descr{
        display: none;
        flex: auto;
    }
    .pl{
       width: 100vw;
       margin: 0%;
       padding: 10px;
       align-items: center;
    }
    .pl-list{
        flex-flow: column nowrap;
        align-items: center;
    }

}
