.p{
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}
.p-pad{
    height: 20px;
    position: sticky;
    z-index: 2;
    background-color: rgb(177, 177, 177);
}
.p img{
    transition: all 9s ease;
    height: max-content;
    object-fit: cover;
}
.p img:hover{
    transform: translateY(-100%);
}