.a {
  min-height: 100vh;
  margin-top: 50px;
  display: flex;
  align-content: center;
}
.a-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}
.a-right {
  flex: 1;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.a-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
}
.a-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.a-card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: brown;

}

@media (max-width: 500px){
  .a-left{
    display: none;

  }
  .a-right{
   padding: 20px;

  }
}
