.c {
  min-height: 100vh;
}
.c-wrapper {
  padding: 50px;
  display: flex;
  align-items: center;
}
.c-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
.cl-title {
  font-size: 80px;
  margin-top: 0px;
  width: 100%;
}
.cl-info {
  margin: 50px 0px;
  font-weight: 300;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
}
.cl-info img {
  height: 30px;
}
.cl-info a {
  text-decoration: none;
  color: black;
  margin-left: 15px;
}
.cl-info a:hover {
    color: brown;
    text-decoration: underline;
  }
.cl-link {
  display: flex;
  align-items: center;
  justify-content: start;
  align-content: center;
  padding: 15px;
}
.c-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  margin-top: 20px;
}
input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}
textarea {
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}
button {
  background-color: brown;
  border: none;
  color: white;
  padding: 20px;
  font-size: 1em;
  font-weight: 300;
  cursor: pointer;
  transition: all .3s ease-in-out; 
  border-radius: 3px;
}
button:hover {
    transform: scale( 1.1);
    opacity: 0.8;
  }

  @media (max-width: 500px) {
    .c-wrapper{
      flex-direction: column;
    }
    .cl-title{
      font-size: 50px;
    }
    .c-right p{
      display: none;
    }
    form{
      margin: 0px;
    }
  }