.i{
    display: flex;
    height: 100vh;
}
.i-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.i-right {
    flex: 1;
}
.i-left-wrapper{
    padding: 50px;
    display: flex;
    /* height: ; */
    flex-direction: column;
    justify-content: space-between;
}
.i-intro{
    font-size: 30px;
    font-weight: 300;
}
.i-name{
    font-size: 50px;
}
.i-title{
    height: 50px;
    overflow: hidden;
}
.i-title-wrapper{
    height: 100%;
    animation: move 9s ease-in-out infinite alternate-reverse;
}

@keyframes move {
    33%{
        transform: translateY(-50px);
    }
    66%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(-150px);
    }
}
.i-title-item{
    height: 50px;
    min-width: fit-content;
    font-size: 30px;
    color: brown;
    display: flex;
    align-items: center;
}
.i-scroll{
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 20px;
}
.i-img{
    /* look for a better fitting sicker picture for the into right */
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}